# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.venv/

# Config (contains secrets)
config/config.conf

# Local data
data/output/*.csv

# Airflow
logs/
airflow.db

# Docker
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Env
.env
